modules = ["web", "nodejs-22", "python-3.11"]

[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite --host 0.0.0.0 --port 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npx vite build"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 11584
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 16976
externalPort = 8000
exposeLocalhost = true

[[ports]]
localPort = 18544
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 18747
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 23447
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 24149
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 25691
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 25823
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 62330
externalPort = 4200

[[ports]]
localPort = 62754
externalPort = 3001

[[ports]]
localPort = 64982
externalPort = 5000

[[ports]]
localPort = 65311
externalPort = 3002
